# Pandas 的文件读取和存储

## CSV 的读取和存储

In [2]:
import os

print(os.getcwd())

D:\Developments\Ace\AceRepositories\JupyterData\AI

In [5]:
import pandas as pd

# 读取数据
data_csv = pd.read_csv('./temp/data/stock_day.csv')

data_csv.head()

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,22.942,22.142,22.875,53782.64,46738.65,55576.11,2.39
2018-02-26,22.80,23.78,23.53,22.80,60985.11,0.69,3.02,22.406,21.955,22.942,40827.52,42736.34,56007.50,1.53
2018-02-23,22.88,23.37,22.82,22.71,52914.01,0.54,2.42,21.938,21.929,23.022,35119.58,41871.97,56372.85,1.32
2018-02-22,22.25,22.76,22.28,22.02,36105.01,0.36,1.64,21.446,21.909,23.137,35397.58,39904.78,60149.60,0.90
2018-02-14,21.49,21.99,21.92,21.48,23331.04,0.44,2.05,21.366,21.923,23.253,33590.21,42935.74,61716.11,0.58

In [6]:
# 保存数据
data_csv.to_csv('./temp/output/test.csv', index=False)

## HDF5 的读取和存储

In [11]:
# 读取数据
data_hdf5 = pd.read_hdf('./temp/data/stock_data/day/day_eps_ttm.h5')

data_hdf5.head()

,000001.SZ,000002.SZ,000004.SZ,000005.SZ,000006.SZ,000007.SZ,000008.SZ,000009.SZ,000010.SZ,000011.SZ,...,001965.SZ,603283.SH,002920.SZ,002921.SZ,300684.SZ,002922.SZ,300735.SZ,603329.SH,603655.SH,603080.SH
0,0.44999,0.42051,-0.157878,-0.089765,1.061339,-0.036714,-0.043017,0.079477,-0.590716,0.019715,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.44999,0.42051,-0.157878,-0.089765,1.061339,-0.036714,-0.043017,0.079477,-0.590716,0.019715,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.44999,0.42051,-0.157878,-0.089765,1.061339,-0.036714,-0.043017,0.079477,-0.590716,0.019715,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.44999,0.42051,-0.157878,-0.089765,1.061339,-0.036714,-0.043017,0.079477,-0.590716,0.019715,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.44999,0.42051,-0.157878,-0.089765,1.061339,-0.036714,-0.043017,0.079477,-0.590716,0.019715,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# 保存数据
data_hdf5.to_hdf('./temp/output/test_hdf.h5', key='test')

## JSON 文件的读取和存储

In [14]:
# 读取数据
data_json = pd.read_json('./temp/data/Sarcasm_Headlines_Dataset.json', orient='records', lines=True)

data_json.head()

,article_link,headline,is_sarcastic
0,https://www.huffingtonpost.com/entry/versace-b...,former versace store clerk sues over secret 'b...,0
1,https://www.huffingtonpost.com/entry/roseanne-...,the 'roseanne' revival catches up to our thorn...,0
2,https://local.theonion.com/mom-starting-to-fea...,mom starting to fear son's web series closest ...,1
3,https://politics.theonion.com/boehner-just-wan...,"boehner just wants wife to listen, not come up...",1
4,https://www.huffingtonpost.com/entry/jk-rowlin...,j.k. rowling wishes snape happy birthday in th...,0

In [15]:
# 存储数据
data_json.to_json('./temp/output/test_json.json', orient='records', lines=False)